In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df = df.sample(n=5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Insane Clown Posse,Dead Body Man,"""This is a Channel 7 news brief because the ne..."
1,Madonna,Just A Dream,[Chorus:] \r\n \r\nWas it just a dream? \r\...
2,Michael Bolton,Hot Love,I never knew someone who made me \r\nFeel so ...
3,Kenny Loggins,Will It Last,I see a lion captive in the kitchen \r\nRolli...
4,Ultravox,We Stand Alone,The words played on around our heads \r\nPerh...
5,Wet Wet Wet,Can't Stand The Night,Here I am \r\nI want you to know that I under...
6,Hillsong,Breathe On Me,"Breathe on me, breath of God \r\nLove and lif..."
7,Alan Parsons Project,Wine From The Water,"You can take me up, you can wind me down \r\n..."
8,Cinderella,Blood From A Stone,Well I've been walkin' \r\nDown a one way dir...
9,Old 97's,Curtain Calls,"In a western town, beneath the northern lights..."

In [9]:
df['text'][0]

'"This is a Channel 7 news brief because the news is happening now!  \r\nGood evening Mort Perkins reporting. Our top story tonight: Police and  \r\ninvestigators are still trying to figure out how and why somebody stole four\r\ndead bodies from the  \r\nWayne County morgue late Monday night. Police say the apparent body thief\r\nentered  \r\nthrough the basement window but how they eluded the security and alarm system\r\nis still a  \r\nmystery. But what we at Channel 7 are wondering: What kinda sick FUCK would\r\nsteal four  \r\ndead bodies anyway? Details at 11."  \r\n  \r\nDead bodies, dead bodies all over the street.  \r\n55-65, bodies at least.  \r\nI hang with the stiffs till the break of dawn.  \r\nI\'m always finding bodies when I\'m mowing the lawn.  \r\nDrag \'em in the house, throw \'em in the oven.  \r\nWicked clown lovin\' that dead body grubbin\'.  \r\nTastes like chicken, finger lickin\' deep fried.  \r\nI ate a dead body, but don\'t tell. I lied.  \r\nI just ate my first dead body last week,  \r\nStill got the fingernail caught in my teeth.  \r\nBefore ya start yellin\' and cursin\' my name,  \r\nRemember somethings wrong with my brain, insane.  \r\nSecond I was born, doctor threw me against the wall.  \r\nKicked open the doors and he whipped me down the hall.  \r\nI\'m sliding and I\'m boucin\' off shit like a hockey puck.  \r\nAnd my mother\'s like, "What the fuck?!"  \r\nHe said I was born of an alien race.  \r\nBorn with a hatchet and a juggalo face.  \r\nBut I\'m not a martian, you wouldn\'t understand.  \r\nI\'m just a dead body man.  \r\n  \r\n"We\'ve got bodies! Dead bodies! We got fat ones, skinny ones, males, females,  \r\nhermaphrodites! We got somebodies! We got nobodies! Bodies, bodies, bodies!  \r\nWOO!"  \r\n  \r\nDead bodies, dead bodies in the back of my van.  \r\nAll the little kiddies love the dead body man.  \r\nI drive through my neighborhood ringin\' my bell.  \r\nSome people run cause they don\'t like the smell.  \r\nOthers line up just as quick as they can.  \r\nTo try to catch a glimpse of the dead body man.  \r\nIt\'s all good, if you can stand the funk. but uh.....  \r\nJust don\'t look in the trunk.  \r\nI drive down central kickin\' the bass.  \r\nChillin\' with my freaks and I\'m pickin\' her face.  \r\nMaggots and bugs like to crawl on her head.  \r\nCause my bitch is dead, I\'d rather that instead.  \r\nI\'m a hoe you can\'t trust, always diggin\' a nut.  \r\nA dead body bitch learned to keep her mouth shut.  \r\nRiding in the back is my dead body crew.  \r\nOnly they can never think of nothin\' to do.  \r\nIf you think I\'m sick, take a look at yourself.  \r\nYou got dead deer heads up on your shelf.  \r\nOn your key chain is a little baby rabbit\'s hand.  \r\nI\'m just the dead body man.  \r\n  \r\n"We also collect dead bodies! So if you know any dead people,  \r\nor you yourself are planning on dying soon,  \r\nwe\'ll be happy to come to your house and pay cash for it!  \r\nWe appreciate good, healthy, stiffs for our dinner! WAHOO!"  \r\n  \r\nCall me the dead body man (Some\'ll give \'em to me!)  \r\nCall me the dead body man (Just sell \'em to me!)  \r\nCall me the dead body man (You can mail \'em to me!)  \r\nCall me the dead body man (But, Bring \'em to me!)  \r\n  \r\nCall me the dead body man (Won\'t ya give \'em to me!)  \r\nCall me the dead body man (You can sell \'em to me!)  \r\nCall me the dead body man (Just mail \'em to me!)  \r\nCall me the dead body man (But, Bring \'em to me!)  \r\n  \r\nCall me the dead body man (Won\'t ya give \'em to me!)  \r\nCall me the dead body man (You can sell \'em to me!)  \r\nCall me the dead body man (Just mail \'em to me!)  \r\nCall me the dead body man (But, Bring \'em to me!)  \r\n  \r\nCall me the dead body man.  \r\nCall me the dead body man\r\n\r\n'

In [10]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [11]:
df['text'] = df['text'].str.lower().replace(r'^a-zA-Z0-9', ' ').replace(r'\n',' ',regex = True)

r'^\w\s,' ' shortcut for r'^a-zA-Z0-9

In [12]:
df.tail(5)

,artist,song,text
4995,Norah Jones,Cold Cold Heart,i've tried so hard my dear to show \r that yo...
4996,Kiss,Partners In Crime,"alright \r i know your wheels are turning, go..."
4997,Cyndi Lauper,Lies,the street light \r through my window \r mak...
4998,The Temptations,"The Further You Look, The Less You See",many a man has gone away \r many a man has go...
4999,"Harry Connick, Jr.",A Spoonful Of Sugar,in every job that must be done \r there is an...

textual data -> tokeinzation

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

# stemming = []
def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    # for w in tokens:
    #     stemming.append(ps.stem(w))
    stemming = [ps.stem(w) for w in tokens]

    return " ".join(stemming)

In [14]:
tokenization('this is my word loving loved')

'thi is my word love love'

In [15]:
df['text'] = df['text'].apply(lambda x : tokenization(x))

In [16]:
df['text']

0       `` thi is a channel 7 news brief becaus the ne...
1       [ choru : ] wa it just a dream ? did i feel yo...
2       i never knew someon who made me feel so good b...
3       i see a lion captiv in the kitchen roll thunde...
4       the word play on around our head perhap we wen...
                              ...
4995    i 've tri so hard my dear to show that you 're...
4996    alright i know your wheel are turn , got your ...
4997    the street light through my window make me fee...
4998    mani a man ha gone away mani a man ha gone ast...
4999    in everi job that must be done there is an ele...
Name: text, Length: 5000, dtype: object

In [17]:
df.head(5)

,artist,song,text
0,Insane Clown Posse,Dead Body Man,`` thi is a channel 7 news brief becaus the ne...
1,Madonna,Just A Dream,[ choru : ] wa it just a dream ? did i feel yo...
2,Michael Bolton,Hot Love,i never knew someon who made me feel so good b...
3,Kenny Loggins,Will It Last,i see a lion captiv in the kitchen roll thunde...
4,Ultravox,We Stand Alone,the word play on around our head perhap we wen...

In [18]:
df.shape

(5000, 3)

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
Tfid = TfidfVectorizer(stop_words='english')
matrix = Tfid.fit_transform(df['text'])

In [21]:
matrix.shape

(5000, 17787)

In [22]:
similarity = cosine_similarity(matrix)

In [23]:
similarity

array([[1.        , 0.08378763, 0.056586  , ..., 0.03033355, 0.02684982,
        0.00613815],
       [0.08378763, 1.        , 0.06156279, ..., 0.029713  , 0.02781916,
        0.02116958],
       [0.056586  , 0.06156279, 1.        , ..., 0.06516619, 0.06834377,
        0.01437302],
       ...,
       [0.03033355, 0.029713  , 0.06516619, ..., 1.        , 0.01754947,
        0.00337929],
       [0.02684982, 0.02781916, 0.06834377, ..., 0.01754947, 1.        ,
        0.01077474],
       [0.00613815, 0.02116958, 0.01437302, ..., 0.00337929, 0.01077474,
        1.        ]])

In [24]:
df['song'][0]

'Dead Body Man'

In [25]:
df[df['song'] =='Things Can Only Get Better']

,artist,song,text
538,Howard Jones,Things Can Only Get Better,we 're not scare to lose it all secur throw th...

In [26]:
def recommendation(song):
    idx = df[df['song'] == song].index[0]
    distance = sorted(list(enumerate(similarity[0])), reverse = False, key = lambda x:x[1])
    
    songs = []
    for i in distance[1:21]:
        songs.append(df.iloc[i[0]].song)
        
    return songs

In [27]:
recommendation('Memory Of Water')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
import pickle

In [ ]:
pickle.dump(df,open("df.pkl", "wb"))

In [ ]:
pickle.dump(similarity,open("similarity.pkl", "wb"))